# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

ble-plugin-unity/NativePluginSource~/Windows/BlePluginWin/x64
ble-plugin-unity/NativePluginSource~/Windows/BlePluginWin/.vs